@page "/"
@using BlazorTetris.Domain
@using System.Drawing
@using Blazor.Extensions.Canvas.Canvas2D

@inject IJSRuntime JsRuntime;

<PageTitle>Blazor Tetris</PageTitle>
<h3>Blazor Tetris</h3>

@if (tetronimo != null)
{
    <div id="score">@tetronimo.Score</div>
}

<BECanvas Width="240" Height="400" @ref="canvasReference"></BECanvas>

@code {
    BECanvasComponent canvasReference = null;
    Canvas2DContext outputCanvasContext;

    private Arena arena;
    private string[] colors = ["purple", "yellow", "orange", "blue", "aqua", "green", "red"];
    private int dropCounter = 0;
    private int dropInterval = 1000;
    private int lastTime = 0;
    private Tetronimo tetronimo;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }

        this.outputCanvasContext = await this.canvasReference.CreateCanvas2DAsync();
        await this.outputCanvasContext.ScaleAsync(20, 20);

        this.arena = new Arena();
        this.tetronimo = new Tetronimo(arena);
        this.tetronimo.Reset();

        await JsRuntime.InvokeAsync<object>("initGame", DotNetObjectReference.Create(this));
    }

    /// <summary>
    ///
    /// </summary>
    /// <param name="dtime"></param>
    /// <returns></returns>
    [JSInvokable]
    public async ValueTask GameLoop(double dtime = 0)
    {
        int time = (int)Math.Floor(dtime);
        int timeDelta = time - lastTime;
        this.lastTime = time;

        this.dropCounter += timeDelta;
        if (this.dropCounter >= this.dropInterval)
        {
            this.tetronimo.DropOneRow();
            this.dropCounter = 0;
        }

        await this.DrawArenaAndTetronimo();
    }

    /// <summary>
    ///
    /// </summary>
    /// <param name="key"></param>
    /// <returns></returns>
    [JSInvokable]
    public async ValueTask KeyPressed(string key)
    {
        switch (key)
        {
            case "W": // W
            case "w": // W
                this.tetronimo.Move(-1);
                break;
            case "S": // Down
            case "s": // S
                this.tetronimo.DropOneRow();
                break;
            case "A": // Turn Left
            case "a": // A
                this.tetronimo.Move(-1);
                break;
            case "D": // Right
            case "d": // D
                this.tetronimo.Move(1);
                break;
            case "Q": // Q
            case "q":
                this.tetronimo.Rotate(-1);
                break;
            case "E": // E
            case "e":
                this.tetronimo.Rotate(1);
                break;
        }
    }

    private async ValueTask clearCanvas()
    {
        await this.outputCanvasContext.SetFillStyleAsync("#000");
        await this.outputCanvasContext.FillRectAsync(0, 0, this.canvasReference.Width, this.canvasReference.Height);
    }

    private async ValueTask DrawArenaAndTetronimo()
    {
        await this.clearCanvas();
        await this.DrawMatrix(this.arena.Matrix, new Point(0, 0));
        await this.DrawMatrix(this.tetronimo.Matrix, this.tetronimo.TetronimoPosition);
    }

    private async ValueTask DrawMatrix(int[][] matrix, Point offset)
    {
        for (int y = 0; y < matrix.Length; y++)
        {
            for (int x = 0; x < matrix[y].Length; x++)
            {
                int val = matrix[y][x];
                if (val > 0)
                {
                    await this.outputCanvasContext.SetFillStyleAsync(colors[val - 1]);
                    await this.outputCanvasContext.FillRectAsync(x + offset.X, y + offset.Y, 1, 1);
                }
            }
        }
    }
}
